.pay {
    margin: 24px 0px;

    &__head {
        margin: 0px 0px 28px;
        align-items: center;
    }

    &__descr {
        margin-left: 24px;
        font-size: 12px;
        line-height: 15px;
        color: #9da5b1;

        &_color{
            &-red{
                color: #E45353;
            }
        }
    }

    &__section {
        padding: 17px 28px;
        margin-bottom: 28px;
    }

    &__top {
        margin-top: 28px;
    }
}
