.chat {
    flex-direction: column;
    color: #3b4b64;

    &__head {
        align-items: center;
        font-size: 14px;
        line-height: 17px;
    }
    &__avatar {
        width: 40px;
        height: 40px;
    }

    &__name {
        font-weight: 600;
        margin: 0px 8px 0px;
    }

    &__main {
        flex: 1 0 auto;
        padding: 28px 17px;
    }

    &__message {
        margin: 8px 0px 0px;
        padding: 16px;
        color: #fff;
        background-color: #0d6efd;
        border-radius: 8px;
        font-size: 12px;
        line-height: 18px;
        max-width: 600px;
    }

    &__input {
        border: none;
        border-top: 1px solid #dfe4e6;
        border-bottom: 1px solid #dfe4e6;
        height: 88px;
        padding: 10px 55px 10px 25px;
        font-size: 12px;
        line-height: 15px;
        color: #9da5b1;
        width: 100%;
        resize: none;
    }

    &__box{
        position: relative;
        width: 100%;
    }

    &__attach{
        position: absolute;
        right: 26px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__bottom{
        padding: 13px 17px 38px;
    }

    &__button{
        width: 106px;
    }

    &__row {
        margin-bottom: 34px;
        display: flex;
        flex-direction: column;

        &_reverse {
            align-items: flex-end;
        }
    }
}
