.chat {
    flex-direction: column;
    color: #3b4b64;

    &__head {
        align-items: center;
        font-size: 14px;
        line-height: 17px;
    }
    &__avatar {
        width: 40px;
        height: 40px;
    }

    &__name {
        font-weight: 600;
        margin: 0px 8px 0px;
    }

    &__main{
        flex: 1 0 auto;
        border-bottom: 1px solid #DFE4E6;
    }

    &__message {
        margin: 8px 0px 0px;
        padding: 16px;
        color: #fff;
        background-color: #0d6efd;
        border-radius: 8px;
        font-size: 12px;
        line-height: 18px;
    }
}
