.profile-features {
    background-color: #f8b114;
    padding: 30px;
    justify-content: space-between;
    color: #3b4b64;

    &__item{
        flex: 1;
        width: 25%;
        padding: 0px 45px;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
    }

    &__text {
        font-size: 12px;
        line-height: 15px;
        margin: 6px 0px 0px;
    }
}
