.support {
    &__row {
        grid-template-columns: 1fr 330px;
    }

    &__sidebar {
        border-left: 1px solid #dfe4e6;
    }

    &__section {
        margin: 28px 0px;
    }

    &__head {
        overflow-y: hidden;
    }

    &__content {
        border-top: 1px solid #dfe4e6;
        display: none;

        &_active {
            display: block;
        }
    }

    &__button {
        position: relative;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        color: #9da5b1;
        padding: 21px 17px 18px;

        &_active {
            color: #3b4b64;

            &::after {
                content: "";
                width: calc(100% + 10px);
                height: 3px;
                position: absolute;
                top: auto;
                bottom: 0px;
                left: -5px;
                right: 0;
                background-color: #0d6efd;
            }
        }
    }
}
