.promo-catalog {
    flex-direction: column;
    align-items: flex-start;

    &__list {
        margin: 0px -4px;
        width: 100%;
    }
    &__col {
        width: 33.33%;
        padding: 0px 4px;
        margin-bottom: 8px;
        &_grid {
            &-2 {
                width: 50%;
            }
            &-3 {
                width: 33.33%;
            }
        }
    }
    &__item {
        position: relative;
        width: 100%;
        min-height: 570px;
        padding: 30px;
        background: #f8f9fa;
        border: 1px solid #dfe4e6;
        border-radius: 4px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__image {
        max-width: 300px;
        margin: auto;
    }

    &__button {
        width: 130px;
    }

    &__hint {
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 10px;
        line-height: 12px;
        color: #3b4b64;
        text-transform: uppercase;
        padding: 5px;
        border-radius: 4px;
        background-color: #ebedef;
    }

    &__pagination {
        margin: 28px 0px 0px;
    }
}
