.popup-promo {
    &__header {
        height: 510px;
        align-items: center;
        justify-content: center;
    }
    &__body {
        border-top: 1px solid #dee2e6;
        padding: 16px;
    }
    &__footer {
        border-top: 1px solid #dee2e6;
        padding: 12px;
    }

    &__prop {
        margin-right: 8px;
        font-size: 12px;
    }

    &__copy {
        margin: 21px 0px 0px;

        &-name {
            font-size: 16px;
            line-height: 24px;
        }
        &-descr {
            font-size: 12px;
            line-height: 18px;
            color: #9da5b1;
        }
        &-textarea {
            margin: 21px 0px 0px;
            resize: none;
            width: 100%;
            height: 116px;
            border: 1px solid #ecedef;
            padding: 16px;
            font-size: 14px;
            line-height: 21px;
        }
    }
}
