.stats-order {
    margin: 24px 0px 0px;

    &__section {
        padding: 21px 17px 21px;
    }

    &__main{
        align-items: center;
    }

    &__head {
        justify-content: space-between;
        align-items: center;
    }

    &__select{
        margin: 0px 24px;
    }

    &__table{
        margin: 52px -17px 0px;
        width: calc(100% + 34px);
    }
}
