.header {
    $parent: '.header';
    background-color: #fff;

    &__top {
        padding: 12px 0px 12px;
        border-bottom: 1px solid #acb7bd;

        #{$parent}{
            &__container{
                justify-content: space-between;
            }
        }
    }

    &__bottom{
        border-bottom: 1px solid #acb7bd;
    }

}
