.stats-main {
    margin: 28px 0px;
    &__section {
        padding: 21px 17px 21px;
    }
    &__main {
        align-items: center;
    }
    &__head{
        justify-content: space-between;
        margin: 0px 0px 50px;
    }
    &__select {
        margin: 0px 20px;
    }
    &__options{
        margin-left: 24px;
    }
    &__right{
        flex-shrink: 0;
        align-items: center;
    }
}
