.traffic-switches{
    padding: 15px 42px 16px;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 62px;
    justify-content: space-between;
    background-color: #F8F9FA;
    border-top: 1px solid #DFE4E6;
}