.footer {
  padding: 23px 0px 24px;
  background-color: #fff;
  font-size: 12px;
  line-height: 15px;
  color: #303c54;

  &__inner{
    align-items: center;
    justify-content: space-between;
  }
}
