.referrals-sidebar {
    background-color: #fff;
    padding: 21px 17px;
    font-size: 12px;
    line-height: 18px;
    color: #505d73;

    &__descr {
        margin: 28px 0px 0px;
    }

    &__levels {
        margin: 28px 0px 0px;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.01em;
        color: #4c5862;
        
        &-row {
            position: relative;
            grid-template-columns: 68px 90px 68px;
            gap: 31px;
            align-items: end;
            margin: 0px 0px 17px;

            &:last-of-type{
                margin-bottom: 0px;
            }
        }

        &-line{
            position: absolute;
            display: block;
            top: 5px;
            right: 0;
            width: calc(100% - 80px);
            height: 1.5px;
            border: none;
            background: #321fdb;
        }

        &-name{
            line-height: 15px;
        }

        &-count {
            display: block;
            margin: 2px 0px 0px;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
