*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    text-decoration: underline;
}

a {
    color: $color-main;
    text-decoration: none;
}

p:not([class]) {
    margin: 0px 0px 30px;
    line-height: 26px;
}

ul:not([class]) {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 20px;

    li {
        position: relative;
        margin-bottom: 15px;
        &::before {
            content: "";
            position: absolute;
            top: 25%;
            flex-shrink: 0;
            left: -15px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $color-dark;
        }
    }
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

img.lazy[data-src] {
    filter: blur(10px);
}

img,
svg,
video {
    max-width: 100%;
    display: block;
}

body,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: $font-main;
    min-width: 320px;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    color: $color-dark;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: left 0.4s ease-in-out;
    left: 0;
}

.main {
    position: relative;
    flex: 1;
    overflow: hidden;
    min-height: 100vh;

    &__grid {
        min-height: inherit;
    }
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.wrap {
    flex-wrap: wrap;
}

a,
button {
    cursor: pointer;
    border: none;
    background: transparent;
    display: inline-block;
    outline: none;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.overflow {
    overflow: hidden;
}

.container {
    width: 100%;
    // max-width: (480px + $spacing * 2);
    // max-width: (580px + $spacing * 2);
    margin: 0 auto;
    padding-left: $spacing;
    padding-right: $spacing;
}

.container-fluid {
    width: 100%;
    margin: 0 auto;
    padding-left: $spacing;
    padding-right: $spacing;
}

@include media(md) {
    .container {
        // max-width: (920px + $spacing * 2);
    }
}

@include media(lg) {
    .container {
        // max-width: (1260px + $spacing * 2);
    }
}

@include media(xl) {
    .container {
        // max-width: (1580px + $spacing * 2);
    }
}

.row {
    margin-left: -$spacing;
    margin-right: -$spacing;
    list-style: none;
}

.row-big {
    margin-left: -$spacing-double;
    margin-right: -$spacing-double;
}

.col {
    padding-left: $spacing;
    padding-right: $spacing;
}

.col-big {
    padding-left: $spacing-double;
    padding-right: $spacing-double;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.66666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-20 {
    width: 20%;
}

.box-center {
    text-align: center;
}

.visually-hidden {
    visibility: hidden;

    &_clip {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
    }
}

h1 {
    font-size: 36px;
    line-height: 44px;
    margin: 10px 0px 15px;
}

h2 {
    font-size: 20px;
    line-height: calc(24 / 20);
    margin: 10px 0px 15px;
}

h3 {
    font-size: 18px;
    line-height: calc(38 / 32);
    margin: 10px 0px 15px;
}

// h1:not([class]),
// h2:not([class]),
// h3:not([class]) {
//     margin: 10px 0px 15px;
// }

.txt {
    font-size: 16px;
    line-height: calc(32 / 16);
}

.desc {
    font-size: 11px;
    line-height: calc(13 / 11);
}

.title {
    color: $color-title;
    font-weight: 400;
    margin: 0px;

    &_h1 {
        @extend h1;
    }

    &_h2 {
        @extend h2;
    }

    &_h3 {
        @extend h3;
    }

    &_center {
        text-align: center;
    }

    &_color-white {
        color: #fff;
    }

    &_color-blue {
        color: $color-main;
    }
}

.error {
    color: $color-warning;
}

.success {
    color: $color-sucess;
}

.swiper-button-prev,
.swiper-button-next {
    cursor: pointer;
}

.section {
    background: #ffffff;
    border: 0.5px solid #dfe4e6;
    border-radius: 4px;
}

.req {
    font-size: inherit;
    color: #ff0000;
}

//UI
.button {
    background-color: transparent;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    text-align: center;

    &_bordered {
        border: 1px solid #9da5b1;
        color: #3b4b64;
    }

    &_size {
        &-small {
            padding: 4px 8px;
        }

        &-medium {
            padding: 7px 9px;
        }

        &-large {
            padding: 11px 12px;
        }
    }

    &_bgcolor {
        &-blue {
            background-color: $color-main;
        }

        &-grey {
            background-color: $color-grey;
        }
    }
}

.close {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
        content: " ";
        position: absolute;
        height: 16px;
        width: 2px;
        background-color: #303c54;
    }

    &_color-white {
        &::before,
        &::after {
            background-color: #fff;
        }
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}

.switch {
    font-size: 12px;
    line-height: 15px;
    color: #303c54;
    align-items: center;

    &__label {
        position: relative;
        cursor: pointer;
    }

    &__body {
        width: 29px;
        height: 14px;
        background: #9da5b1;
        border: 1px solid #9da5b1;
        display: block;
        border-radius: 13px;

        &::after {
            content: "";
            position: absolute;
            top: 1px;
            left: 1px;
            bottom: 1px;
            width: 12px;
            height: 12px;
            background: #fff;
            border-radius: 50px;
            transition: 0.3s;
        }
    }

    &__input:checked + &__body:after {
        left: calc(100% - 1px);
        transform: translateX(-100%);
    }

    &__input:checked + &__body {
        background: #0d6efd;
    }

    &__body {
        &:active {
            &::after {
                width: 20px;
            }
        }
    }

    &__label {
        margin-right: 12px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    td,
    th {
        padding: 9px 17px;
        border-top: 1px solid #dfe4e6;
        border-bottom: 1px solid #dfe4e6;
    }

    tr {
        &:nth-child(even) {
            background-color: #f8f9fa;
        }
    }

    th {
        font-weight: 700;
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.01em;
    }

    td {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #3b4b64;
    }
}
